.App {
  margin: 100px auto; }

.App__title {
  text-align: center;
  width: 50vw;
  margin: auto; }

.App__card {
  border-radius: 4px;
  margin: 50px auto;
  width: 80vw;
  padding: 20px;
  background: #fefefe;
  box-shadow: 0px 3px 20px -10px rgba(0, 0, 0, 0.5);
  text-align: center; }

@media (min-width: 767px) {
  .App__card {
    width: 20vw; } }

.App__section--list {
  display: flex;
  justify-content: center; }

.App__loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
